first = input("enter first number : ")
operator = input("enter operator ( +, -, *, /, %): ")
second = input("enter second  number : ")

first = int(first)
second = int(second)

if operator == "+" :
    print(first + second)

elif operator == "-" :
    print(first - second)

elif operator == "*" :
    print(first * second)

elif operator == "/" :
    print(first / second)

elif operator == "%" :
    print(first % second)

else:
    print("Invalid Operation")



C:\Users\Acer\PycharmProjects\pythonProject\.venv\Scripts\python.exe C:\Users\Acer\PycharmProjects\pythonProject\firstProgram.py 
enter first number : 4566
enter operator ( +, -, *, /, %): %
enter second  number : 23
12

